
body{
    padding:10px;
    margin: 10px;
    background-color: white;
}

ul.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
    
  }
  
 li {float: left;}
 
  ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
  }
  ul.nav li a:hover:not(.active) {background-color: #111;}
  ul.nav li a.active {background-color: #4CAF50;}
 

  @media screen and (max-width: 1500px) {
  
    ul.nav li {float: none;}
  }


.header img {
  width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: contain;
  height: auto;

  
}
.abstract {
  width: 100%;
  opacity: 0.5;
  position:relative;

 
}
.left-column {
    display:block;
    float: left;
    width: 30%;
    height:370px;
   opacity: 0.8;
    margin-top: 30px;
    position: absolute;
}


.name {
padding-top: 30px;
margin-left:50%;

color:#333333;

}
.web {
color:#333333 ;
margin-left: 55%;
padding-top: 20px;
}


.right-column material-icons {
    text-align: center;
   
}
.right-column h2 {
    text-align: center;
   padding: 70px 0;
}
.button1, .button2 {
    background-color: white;
    color: #333333;
    border:2px solid #333333;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 20px 32px;
    margin: 4px  2px;
    font-size: 16px;
    text-decoration: none;
    
}
.button {
  position: absolute;  
  padding-bottom: 40%;
  margin-left:45%;
  padding-top: 20px;
}
.download{

    color: blue;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 15px 32px;
    margin: 4px  2px;
    font-size: 16px;
    text-decoration: none;
}
.identity{
    position: relative;
    text-align: center;
    color: black;
  
  }
  .center {
    position: relative;
    display: block;
    
  }

.photo {
    width: 100%;
    height: auto;
    object-fit:cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    padding-top: 80px;
    
}
@media only screen and (min-width: 768px) {
.text, .me {
  position: absolute;
  top: 280px;
  left: 40px;
  font-size: larger;
}

}
@media only screen and (min-width: 600px) {
  .text, .me, #btn {
    text-align: center;
  }
  
  }
  


.me h2 {
  padding: 70px 0;
  text-align: center;
}
#btn{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size:10px;
 background-color: #4CAF50;
 color: white;
 font: 15px Verdana sans-serif;
 padding: 8px 16px;
 font-size: large;
 cursor: pointer;
 width: 150px;
 height: 40px;
 text-align: center;
 
}

.resume h2{
    padding: 70px 0;
    text-align: center;
}

@media only screen and (min-width: 768px){
  .footer{
    display: flex;
  }
  .left-footer, .right-footer {
    margin: 10px;
    padding: 20px;
  } 
   
}






.web-design {
  border-radius: 50%;
  width:300px;
  height:300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.flex {
  display: flex;
  justify-content: center;

 
}
.flex > i {
  cursor: pointer;
  margin: 20px;
}